.text
  %article
    %aside(style="width:200px")

      %h2 EVALSHA.com Docs

      If you are looking for documentation for this site, it is
      %a(href="http://github.com/aaronblohowiak/evalsha") on github

      %p
        If you want a copy of the EVALSHA.com db, just
        %a(href="mailto:aaron.blohowiak@gmail.com") shoot me an email
        or
        %a(href="http://github.com/aaronblohowiak/evalsha") fork this site to automate it =D

    = markdown("documentation")

