.text.home
  %section
    %p
      The
      %strong unofficial
      content-addressable repo of <a href="http://www.lua.org/">Lua</a> Scripts for <a href="http://redis.io">Redis</a>.

    %p
      In Redis, each Lua script is identified by taking the SHA1 of its body. This is a public place to discover, share and discuss scripts. Think of it like luarocks, cpan, rubygems, or npm but for Redis scripts.

    %p
      %a(href="http://redis.io/commands/eval" target="_blank") Redis EVAL command docs (http://redis.io) →

    .columns

      %section
        %h2 Looking Up Scripts

        %p
          You can look up scripts by their SHA1
          %a(href="/scripts/53cbfe7cfa82734f5a727c5dff280b10c8866817")= "/scripts/53cbfe7cf..."
          OR their (unofficial) command name:
          %a(href="/commands/SMEMHASHES")= "/commands/SMEMHASHES"
          OR with a full-text search:
          %br
          %br
        %p
          = partial("search_box")

        %p
          %a(href="/commands") See all commands →

      %section
        %h2 Get Involved!

        %ul
          %li
            %a(href="/contribute") Contribute your scripts,
          %li
            %a(href="http://github.com/aaronblohowiak/evalsha") Improve this site
          %li
            %a(href="http://github.com/aaronblohowiak/evalsha/issues") Report a Bug / Request a Feature

