!!! 5

%html
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="/css/styles.css?#{@mtime}" type="text/css")
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33944213-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


    %title
      = [@title, "EVALSHA"].compact.join(" – ")

  %body(class="#{@css.join(" ") if @css}")
    %header
      .container
        %a(href="/")
          %img(src="/images/redis-small.png" alt="Redis" style="width:39px")
          %img(src="/images/evalsha-small.png" alt="Evalsha" style="width:39px")
          EVALSHA

        %nav
          %a(href="/commands") Commands
          %a(href="/contribute") Contribute
          %a(href="/documentation") Documentation
          %a(href="/terms") LICENSE
          %a(href="https://github.com/aaronblohowiak/evalsha/issues") EVALSHA.com Issues

    = content

    %footer
      %p
        This website is
        <a href="https://github.com/aaronblohowiak/evalsha">open source software</a> (pull requests accepted)
        developed by <a href="http://aaronblohowiak.com">Aaron Blohowiak</a>, based on the <a href="http://redis.io">Official Redis website</a> by <a href="http://citrusbyte.com">Citrusbyte</a>.
        <br> The Redis logo was designed by <a href="http://www.carlosprioglio.com/">Carlos Prioglio</a>. See more <a href="http://redis.io/topics/sponsors">credits</a>.
      %p
        %br
        %a(href="mailto:aaron@xitive.com") Redis consulting available
