%section
	%h2 License
	%p
		All scripts on this site are in the public domain, unless otherwise noted, and are provided without warranty express or implied.  EVALSHA.com, its contributors and maintainers make no claim for the effectiveness, safety, security or quality of the scripts contained within.
		%strong If you don't understand a script, you probably shouldn't use it!
	%p
		THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

	%p
		By adding a script to this site, you certify that 1) you have the authority to release it into the Public Domain and that 2) you have dedicated the work to the public domain by waiving all of your rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law.