.text
	= render("views/search_box.haml")
	%br
	= render("views/command_list.haml")

	.section
		%br
		Can't find what you're looking for?
		%a(href="http://github.com/aaronblohowiak/evalsha") Fork the code and make it better!
		OR
		%a(href="/contribute") contribute your Redis Lua Scripts